{% extends "contacts/e-mail/base.html" %}

{% load i18n %}

{% block content %}
<table class='b-data'>
	<tr class='b-data__row'>
		<td class='b-data__metakey'>{% trans "Form" %}</td>
		<td class='b-data__value'>{{ instance.form_config }}</td>
	</tr>
	<tr class='b-data__row'>
		<td class='b-data__metakey'>{% trans "Referrer" %}</td>
		<td class='b-data__value'>
			<a href='{{ instance.referrer }}'>{{ instance.referrer }}</a>
		</td>
	</tr>
	<tr class='b-data__row'>
		<td class='b-data__metakey'>IP</td>
		<td class='b-data__value'>{{ instance.ip }}</td>
	</tr>
	<tr class='b-data__row'>
		<td class='b-data__metakey'>{% trans "Created at" %}</td>
		<td class='b-data__value'>{{ instance.created_at }}</td>
	</tr>
	{% for field in instance.fields %}
		<tr class='b-data__row m-row__{{ field.name }}'>
			<td class='b-data__key'>{{ field.label }}</td>
			<td class='b-data__value'>{{ field.value }}&nbsp;</td>
		</tr>
	{% endfor %}
</table>

{% endblock %}