{% load i18n %}
<div class='b-form'>
	{% if form_config.show_title %}
		<h3 class='b-form__title'>{{ form_config.title }}</h3>
	{% endif %}
	<form action='{{ form_config.get_absolute_url }}' method='post' id='{{ block_item.slug }}_form'>
		{% csrf_token %}

		{% for field in form.hidden_fields %}
			{{ field }}
		{% endfor %}

		<div class='b-fields'>

		{% for field in form.visible_fields %}
			<div class='b-field
				{% if field.field.required %}m-field-required{% endif %}
				{% if field.errors %}m-field-error{% endif %}
				m-field_{{ field.name }}
			'>
				<li class='b-field__label'>
					<label for='id_{{ field.name }}'>{{ field.label }}:</label>
					{# {% if field.errors %} #}
						<ul class='b-field__errors'>
							{# {% for error in field.errors %} #}
								<li class='b-field__errors_error'>{{ error }}error text</li>
							{# {% endfor %} #}
						</ul>
					{# {% endif %} #}
				</li>
				<li class='b-field__field'>{{ field }}</li>
			</div>
		{% endfor %}

		</div>
		<input
			type='submit'
			class='b-form__submit'
			value='{{ form_config.submit_name }}'
			data-url='{{ form_config.get_absolute_url }}'
			data-form='#{{ block_item.slug }}_form'
		>
	</form><!-- form -->

	<div class='b-form__tnx_message'>{{ form_config.tnx_message|safe }}</div>
</div><!-- b-form -->
