{% load i18n %}
<!doctype html>
<html lang="{{ language }}">
<head>
	<meta charset="UTF-8">
	<script type="text/javascript" src="/templates/default/js/jquery-2.1.3.min.js"></script>
	<script type="text/javascript" src="/static/forms/js/index.js"></script>

	<title>{{ config.title }}</title>
</head>

<body>
<br>
<div class='b-form'>
	<form action='#' method='post' id='page_form'>
		{% csrf_token %}

		{% for field in form.hidden_fields %}
			{{ field }}
		{% endfor %}

		<div class='b-fields'>

		{% for field in form.visible_fields %}
			<div class='b-field
				{% if field.field.required %}m-field-required{% endif %}
				{% if field.errors %}m-field-error{% endif %}
				m-field_{{ field.name }}
			'>
				<li class='b-field__label'>
					<label for='id_{{ field.name }}'>{{ field.label }}:</label>
					{# {% if field.errors %} #}
						<ul class='b-field__errors'>
							{# {% for error in field.errors %} #}
								<li class='b-field__errors_error'>{{ error }}error text</li>
							{# {% endfor %} #}
						</ul>
					{# {% endif %} #}
				</li>
				<li class='b-field__field'>{{ field }}</li>
			</div>
		{% endfor %}

		</div>

		<input 
			type='submit'
			class='b-form__submit'
			value='{{ config.submit_name }}'
			data-url='{{ config.get_absolute_url }}'
			data-form='#page_form'
		>
	</form><!-- form -->

</div><!-- b-form -->

<div class='b-form__tnx_message'>{{ config.tnx_message|safe }}</div>


</body>
