.b-field__element {
	margin: 10px 0;
}

.b-field select,
.b-field__element input {
	background: @field-bg;
	width: 300px;
	color: @field-color;
	padding: 5px;
	border: 1px solid @field-border-color;
	box-sizing: border-box;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

.b-field select:focus{
	outline: none;
}

.b-field__element textarea {
	width:  300px;
	box-sizing: border-box;
	height: 150px;
	resize: none;
	border: 1px solid @field-border-color;
	background: @field-bg;
	padding: 5px 0 0 5px;
	color: @field-color;
}

.b-field__element textarea:focus {
	outline: none;
}

.b-field__errors {
	background: @error;
}

.b-form__submit:disabled {
	background: silver url(/static/contacts/img/loading_icon.gif) no-repeat 70px 10px!important;
	background-size: 16px!important;
	cursor: wait;
	color: @dark;
}

.b-form__success_message {
	display: none;
	text-align: center;
	font-size: 18px;
	color: @blue;
}

.m-form__sended .b-form__success_message {
	display: block;
}

.b-form__form {
	display: block;
}

.m-form__sended .b-form__form {
	display: none;
}