/* New */

.b-form__form .b-field {
	width: 300px;
	margin-bottom: 20px;
	margin-right: 150px;
	float: left;
	position: relative;
}

.b-form__form .b-field:nth-of-type(3n) {
	margin-right: 0;
}

.b-form__form .b-field > label {
	display: none;
}

.b-form__form .b-field input[type='text'],
.b-form__form .b-field input[type='number'],
.b-form__form .b-field input[type='email'],
.b-form__form .b-field select {
	width: @full-size;
	height: 30px;
	border: 1px solid #c1c1c1;
	border-radius: 2px;
	padding-left: 9px;
	box-sizing: border-box;
	outline: none;
}

.b-form__form .b-form__submit {
	width: 300px;
	height: 35px;
	float: right;
	border-radius: 2px;
	color: white;
	background: @blue;
	text-align: center;
	font-size: 16px;
	line-height: 2.2;
	border: none;
	cursor: pointer;
}

.b-form__form .b-form__submit:hover {
	background: @blue;
}

/* Old */
.b-field__element {
	margin: 10px 0;
}

.b-field select,
.b-field__element input {
	background: @field-bg;
	width: 300px;
	color: @field-color;
	padding: 5px;
	border: 1px solid @field-border-color;
	box-sizing: border-box;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

.b-field select:focus{
	outline: none;
}

.b-field__element textarea {
	width:  300px;
	box-sizing: border-box;
	height: 150px;
	resize: none;
	border: 1px solid @field-border-color;
	background: @field-bg;
	padding: 5px 0 0 5px;
	color: @field-color;
}

.b-field__element textarea:focus {
	outline: none;
}

.b-field__errors {
	background: @error;
}

.b-form__submit:disabled {
	background: silver url(/static/contacts/img/loading_icon.gif) no-repeat 70px 10px!important;
	background-size: 16px!important;
	cursor: wait;
	color: @dark;
}

.b-form__success_message {
	display: none;
	text-align: center;
	font-size: 18px;
	color: @blue;
}

.m-form__sended .b-form__success_message {
	display: block;
}

.b-form__form {
	display: block;
}

.m-form__sended .b-form__form {
	display: none;
}