{% load i18n %}

<div class='
	form
	form--{{ form_config.slug }}
	{% if form_config.send %}form--sended{% endif %}
'>

	<h3 class='form__title'>{{ form_config.title }}</h3>

	<form class='form__form' method='post' action='' id='form-{{ form_config.slug }}'>
		{% csrf_token %}

		{% for field in form.hidden_fields %}
			{{ field }}
		{% endfor %}

		{% for group in form_config_form.groups %}
			<fieldset>
				<legend>{{ group.name }}</legend>

				{% for field in group.fields %}
					<div class='
						field
						field--{{ field.name }}
						field--required_{{ field.field.required }}
						{% if field.errors %}field--error{% endif %}
					'>
						<label class='field__label' for='id_{{ field.name }}'>{{ field.label }}:</label>
						<div class='field__field'>{{ field }}</div>
						{% spaceless %}
						<ul class='field__errors'>
							{% for error in field.errors %}
								<li class='b-field__errors_error'>{{ error }}</li>
							{% endfor %}
						</ul>
						{% endspaceless %}
						{% if field.help_text %}
							<div class='field__help_text'>{{ field.help_text }}</div>
						{% endif %}
					</div>
				{% endfor %}

			</fieldset>
			{% comment %}
				

			{% endcomment %}

		{% endfor %}

		<input class='button' type='submit' name='submit' value='{{ form_config.submit_name }}' data-url='{{ form_config.get_absolute_url }}' data-form='{{ form_config.slug }}'>
	</form><!-- b-form__form -->

	<div class='form__message--success'>{{ form_config.success_message|safe }}</div>
</div><!-- b-form -->
