{% load i18n %}

<div class='b-form m-form_reload'>
	{# {% if form_config.show_title %}{% endif %} #}

	{% if form_config.send %}
		<div class='b-form__success_message'>{{ form_config.success_message|safe }}</div>
	{% else %}
		<h3 class='b-form__title'>{{ form_config.title }}</h3>

		<form method='post' action=''>
			{# {{ form_config.get_absolute_url }} #}
			{% csrf_token %}

			{% for field in form.hidden_fields %}
				{{ field }}
			{% endfor %}

			{% for field in form_config_form.visible_fields %}
				<div class='
					b-field
					{% if field.field.required %}m-field_required{% endif %}
					{% if field.errors %}m-field_error{% endif %}
					m-field_{{ field.name }}
				'>
					<label class='b-field__label' for='id_{{ field.name }}'>{{ field.label }}:</label>
					{% if field.errors %}
						<ul class='b-field__errors'>
							{% for error in field.errors %}
								<li class='b-field__errors_error'>{{ error }}</li>
							{% endfor %}
						</ul>
					{% endif %}
					<div class='b-field__field'>{{ field }}</div>
				</div>
			{% endfor %}

			<input type='submit' name='submit' value='{{ form_config.submit_name }}'class='b-form__submit'>
		</form>
	{% endif %}
</div><!-- b-form -->
