{% load i18n %}

<form class='
	form
	form--contacts
	form--contacts_{{ form_config.slug }}
	form--status_{{ form_config.status }}
	'
	method='post'
	action=''
	id='form-{{ form_config.slug }}'

	data-form='{{ form_config.slug }}'
	data-url_send='{% url "contacts_send" form_config.slug %}'
	data-url_validate='{% url "contacts_validate" form_config.slug %}'
>
	{% csrf_token %}
	{% for field in form.hidden_fields %}{{ field }}{% endfor %}

	
	<h3 class='form__title'>{{ form_config.title }}</h3>
	<div class='form__message--success'>{{ form_config.message_success|safe }}</div>
	<div class='form__message--error'>{{ form_config.message_error|safe }}</div>

	<div class='form__group-list'>
	{% for group in form_config_form.groups %}
		<fieldset class='group--{{ group.name|slugify }}'>
			<legend>{{ group.name }}</legend>

			{% for field in group.fields %}
				<div class='
					field
					field--{{ field.name }}
					field--required_{{ field.field.required }}
					{% if field.errors %}field--error{% endif %}
				'>
					<label class='field__label' for='id_{{ field.name }}'>{{ field.label }}:</label>
					<div class='field__field'>{{ field }}</div>
					{% spaceless %}
					<ul class='field__errors'>
						{% for error in field.errors %}
							<li class='field__errors_error'>{{ error }}</li>
						{% endfor %}
					</ul>
					{% endspaceless %}
					{% if field.help_text %}
						<div class='field__help_text'>{{ field.help_text }}</div>
					{% endif %}
				</div>
			{% endfor %}


			{% if form_config.recaptcha and form_config.recaptcha_group == group.name %}
				{% if not captcha_is_valid and request.POST %}
					<p class='captcha--error'>{% trans "The captcha is incorrect - please try again." %}</p>
				{% endif %}
				<script src='https://www.google.com/recaptcha/api.js'></script>
				<div class='g-recaptcha' data-sitekey='{{ RECAPTCHA_SITEKEY }}'></div>
			{% endif %}

			{% if form_config.submit_group == group.name %}
				<button class='button button--submit' type='submit'>
					{{ form_config.submit_name }}
				</button>
			{% endif %}
		</fieldset>
	{% endfor %}
	</div>

	{% if form_config.recaptcha and not form_config.recaptcha_group %}
		{% if not captcha_is_valid and request.POST %}
			<p class='captcha--error'>{% trans "The captcha is incorrect - please try again." %}</p>
		{% endif %}
		<script src='https://www.google.com/recaptcha/api.js'></script>
		<div class='g-recaptcha' data-sitekey='{{ RECAPTCHA_SITEKEY }}'></div>
	{% endif %}

	{% if not form_config.submit_group %}
		<button class='button button--submit' type='submit'>
			{{ form_config.submit_name }}
		</button>
	{% endif %}
</form><!-- .form .form--contacts__{{ form_config.slug }} -->
