
<script src='//api-maps.yandex.ru/2.1/?load=package.standard&lang=ru-RU'></script>

<script type='text/javascript'>
	ymaps.ready(init);

	function init () {

		var myMap = new ymaps.Map('contacts-map', {
			center: [{{ offices.0.get_center_latitude }}, {{ offices.0.get_center_longitude }}],
			zoom: {{ offices.0.zoom }}
		}),

		// {% for office in offices %}

			office_{{ office.id }} = new ymaps.Placemark(
				[{{ office.get_latitude }}, {{ office.get_longitude }}],
				{
					balloonContentHeader: '{{ office.name }}',
					balloonContentBody: '{{ office.description }}',
					balloonContentFooter: '{{ office.address }}',
					hintContent: '{{ office.name }}'
				},
				{
					preset: 'twirl#darkgreenDotIcon',
				}
			);
			myMap.geoObjects.add(office_{{ office.id }});

		// {% endfor %}

		myMap.behaviors.disable('scrollZoom');

		$('.b-office').on('click', function() {
			myMap.setZoom($(this).data('zoom'));
			myMap.setCenter($(this).data('center'));

			// $('.b-contacts-info .b-phone').text($(this).data('phone'))
			// $('.b-contacts-info .m-email').text($(this).data('email'))
			// $('.b-contacts-info .m-address').text($(this).data('address'))

		});

	}
</script>


<ul class='b-offices'>
	{% for office in offices %}
		<li class='b-office'
			data-zoom='{{ office.zoom }}'
			data-center='[{{ office.get_center_latitude }}, {{ office.get_center_longitude }}]'
			data-phone='{{ office.phone }}'
			data-email='{{ office.email }}'
			data-address='{{ office.address }}'
		>
			<b class='b-office__name'>{{ office.name }}</b>

			{% if office.description %}
				<span class='b-office__desc'>{{ office.description }}</span>
			{% endif %}
			{% if office.photo %}
				<img src='{{ office.photo.url }}' alt='{{ office.name }}' class='b-office_photo'>
			{% endif %}
			{% if office.phone %}
				<span class='b-office__phones'>
					{% for phone in office.phones %}
						<span class='b-office__phone'>{{ phone|safe }}</span>
					{% endfor %}
				</span>
			{% endif %}
			{% if office.email %}
				<span class='b-office__email'>{{ office.email }}</span>
			{% endif %}
			{% if office.address %}
				<span class='b-office__address'>{{ office.address|safe }}</span>
			{% endif %}
			{% if office.www %}
				<a class='b-office__www' href='{{ office.www }}'>{{ office.www|safe }}</a>
			{% endif %}
		</li>
	{% endfor %}
</ul>

<div class='b-contact-map' id='contacts-map'></div>

{% comment %}

<div class='b-contacts-info' itemscope itemtype="http://schema.org/Organization">
	<h3>Наши контакты</h3>
	<span itemprop='name'>{{ offices.0 }}</span>
	<span itemprop='url'>https://express-page.kg/</span>

	<div itemprop="location" itemscope itemtype="https://schema.org/Place">
		<div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
			<meta itemprop="latitude" content="{{ offices.0.get_latitude }}">
			<meta itemprop="longitude" content="{{ offices.0.get_longitude }}">
		</div>
	</div>


	<span class='m-phone' itemprop="telephone">{{ offices.0.phone|safe }}</span><br>
	{% if offices.0.email %}
		<span class='m-email' itemprop='email'>{{ offices.0.email }}</span><br>
	{% endif %}
	{% if offices.0.address %}
		<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
			<span class='m-address' itemprop="streetAddress">{{ offices.0.address }}</span>
		</span>
	{% endif %}
</div>
{% endcomment %}