<script src='//maps.googleapis.com/maps/api/js?sensor=false' type="text/javascript"></script>

{% if offices.count > 1 %}
	<ul class="b-offices-list">
		{% for office in offices %}
			<li class='b-offices-list-item'
				data-zoom='{{ office.zoom }}'
				data-center='[{{ office.get_center_latitude }}, {{ office.get_center_longitude }}]'
				data-phone='{{ office.phone }}'
				data-email='{{ office.email }}'
				data-address='{{ office.address }}'
			>
				{{ office.name }}
			</li>
		{% endfor %}
	</ul>
{% endif %}

{% for office in offices %}
	<div itemscope itemtype="http://schema.org/LocalBusiness" class='b-office-info'>
		<a itemprop="url" href="{{ office.url }}" class='b-office-info__name'>
			<strong itemprop="name">{{ office }}</strong>
		</a>
		{% if office.description %}
			<div itemprop="description" class='b-office-info__desc'>{{ office.description }}</div>
		{% endif %}

		<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" class="b-office-info__adress__list">
			{% if office.address_country %}
				<span itemprop="addressCountry">{{ office.address_country }}</span>
			{% endif %}
			{% if office.address_locality %}
				<span itemprop="addressLocality" class='addressLocality'>{{ office.address_locality }}</span>
			{% endif %}
			{% if office.address_region %}
				<span itemprop="addressRegion">{{ office.address_region }}</span>
			{% endif %}
			{% if office.address_box %}
				<span itemprop="postOfficeBoxNumber">{{ office.address_box }}</span>
			{% endif %}
			{% if office.address_postal %}
				<span itemprop="postalCode">{{ office.address_postal }}</span>
			{% endif %}
			{% if office.address_street %}
				<span itemprop="streetAddress" class='m-streetadress'>{{ office.address_street }}</span>
			{% endif %}
		</span>

		{% if office.phone %}
			<span class='m-phone' itemprop="telephone" class='b-office-info__phone'>{{ office.phone|safe }}</span>
		{% endif %}
		{% if office.email %}
			<span class='m-email' itemprop='email' class='b-office-info__email'>{{ office.email }}</span>
		{% endif %}
		{% if office.latitude and office.longitude %}
			<div itemprop='location' itemscope itemtype='https://schema.org/Place'>
				<div itemprop='geo' itemscope itemtype='http://schema.org/GeoCoordinates'>
					<meta itemprop='latitude' content='{{ office.get_latitude }}'>
					<meta itemprop='longitude' content='{{ office.get_longitude }}'>
				</div>
			</div>
		{% endif %}
		<meta itemprop='logo' content='/templates/img/logo.png'>
		{% if office.photo %}
			<meta itemprop='image' content='{{ office.photo.url }}'>
		{% endif %}
	</div>
{% endfor %}

<div id='map' class='b-contact-map'></div>

<script type="text/javascript">
	var offices = [];

	function initialize() {
		var mapOptions = {
			zoom: {{ offices.0.zoom }},
			center: new google.maps.LatLng({{ offices.0.get_latitude }}, {{ offices.0.get_longitude }}),
			mapTypeId: google.maps.MapTypeId.ROADMAP,
			zoomControl: true,
			scrollwheel: false,
			zoomControlOptions: {
				position: google.maps.ControlPosition.LEFT_CENTER
			},
		}
		var map = new google.maps.Map(document.getElementById("map"), mapOptions);
		setMarkers(map, offices);
	}

	function setMarkers(map, locations) {
		for (var i = 0; i < locations.length; i++) {
			var office = locations[i];
			var myLatLng = new google.maps.LatLng(office[1], office[2]);
			var marker = new google.maps.Marker({
				position: myLatLng,
				map: map,
				clickable: true,
				title: office[0],
				zIndex: 1000
			});
		}
	}

	{% for office in offices %}
		offices.push(['{{ office.name }}', {{ office.get_center_latitude }}, {{ office.get_center_longitude }}]);
			// , 1, '{{ office.address }}'
	{% endfor %}

	initialize();
</script>
